<%- model_class = Content -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= search_form_for @q, html: { class: 'navbar-form navbar-left' } do |f| %>
  <%= f.input :title_cont, label: false, placeholder: 'title' %>
  <%= f.input :display_artist_cont, label: false, placeholder: 'display_artist' %>
  <%= f.button :submit %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>コンテンツ名</th>
      <th>種別</th>
      <th>サムネイル</th>
      <th>再生時間</th>
      <th>有効期間</th>
      <th>有効/無効</th>
      <th>更新日</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.id %></td>
        <td><%= content.name %></td>
        <td><%= content.type %></td>
        <td><%= content.thumbnail_url %></td>
        <td><%= content.playing_sec.nil? ? "" : Time.at(content.playing_sec).utc.strftime("%R") %></td>
        <td><%= "#{content.validity_start_date} ～ #{content.validity_end_date}" %></td>
        <td><%= content.enabled ? "有効" : "無効" %></td>
        <td><%= content.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_iticket_content_path(content), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      iticket_content_path(content),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_content_path,
            :class => 'btn btn-primary' %>
