<%- model_class = SubContent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div>
  <%= render :partial => 'search_form', locals: {action_path: sub_contents_path} %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sub_contents.each do |sub_content| %>
      <tr>
        <td><%= sub_content.name %></td>
        <td><%= sub_content.url %></td>
        <td><%=l sub_content.updated_at %></td>
        <td></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      sub_content_path(sub_content), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

