<%- model_class = Playlist -%>
<div class="page-header">
  <h1><%=t '.title', :default => "提供プレイリスト一覧" %></h1>
</div>

<div>
  <%= render :partial => 'search_form', locals: {action_path: playlists_path} %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:channel_id) %></th>
      <th><%= model_class.human_attribute_name(:play_start_date) %></th>
      <th><%= model_class.human_attribute_name(:play_end_date) %></th>
      <th><%= model_class.human_attribute_name(:release_date) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= @channels[playlist.channel_id] %></td>
        <td><%= display_date(playlist.play_start_date) %></td>
        <td><%= display_date(playlist.play_end_date) %></td>
        <td><%= display_date(playlist.release_date) %></td>
        <td></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      playlist_path(playlist), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_playlist_path,
            :class => 'btn btn-primary' %>
